*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Oxygen", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --color-background: #030207;
    --color-white: #fff;
    --color-blue: #1474b4;
}

body{
    background-color: var(--color-background);
    color: var(--color-white);
}

a{
  color: var(--color-blue);  
}

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background));
    position: relative;
    min-height: 100vh; 
}

.hero__background{
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

.hero__foreground{
    color: var(--color-white);
    text-align: center;
    padding-top: 40vh;
}

.hero__title{
    font-size: 5rem;
    font-weight: 300;
}

.hero__text{
    margin-top: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.section{
    text-align: center;
    padding: 0 8rem;
}

.section__title{
    font-size: 3rem;
    font-weight: 300;
    margin: 4rem auto;
}

.section__img,
.section__img-inline{
    width: 100%;
    border-radius: 0.75rem; 
    box-shadow: 0 1rem rgba(20, 116, 180, 0.25);
} 